header {
  width: 980px;
  height: 30.7px;
  margin: 0 auto;
  margin-top: 100px;
  color: var(--white-text, #fff);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.title {
  border: 1px solid #fff;
  padding: 7px;
  line-height: 112.682%;
  text-transform: uppercase;
}
.info {
  width: 150px;
  height: 31px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}
.info__icon {
  width: 24.251px;
  height: 30.662px;
  background-image: url("./Icon.svg");
}
.info__text{
  width: 111px;
  height: 24px;
}